<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inspiring IPTomar</title>

    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-select.min.css")

   

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <nav class="navbar navbar-inverse bg-primary" style="background-color:lightgreen; border-color:lightgreen;">
                        @Html.ActionLink("Inspiring IPTomar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </nav>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sobre Nós", "SobreNos", "Home")</li>
                    <li>@Html.ActionLink("A Nossa Equipa", "Equipa", "Home")</li>
                    <li>@Html.ActionLink("Os Nossos Cursos", "Index", "Cursos")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color:lightgreen; font-family:Verdana, Arial,BolsterBold" aria-haspopup="true" aria-expanded="false">Inscreve-te<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Efectuar Inscrição", "Create", "PotencialAluno")</li>
                            <li>@Html.ActionLink("Mudar dados da Inscrição", "EditarAluno", "PotencialAluno")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Notícias", "Noticia", "Home")</li>
                    <li>@Html.ActionLink("Agenda", "Agenda", "Home")</li>

                    @*utilizador autenticado como "Colaborador", tem permissão de:*@
                    @if (User.IsInRole("Colaboradores"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color:lightgreen;font-family:Verdana, Geneva, Tahoma, sans-serif" aria-haspopup="true" aria-expanded="false">Colaborador(a)<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Listar Potenciais Alunos", "Index", "PotencialAluno")</li>
                            </ul>
                        </li>
                    }

                    @*Gestores autenticados têm permissão de:*@
                    @if (User.IsInRole("Gestores"))

                    {
                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="color:lightgreen;font-family:Verdana, Geneva, Tahoma, sans-serif" aria-expanded="false">Gestor(a)<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Listar Potenciais Alunos", "Index", "PotencialAluno")</li>
                                <li>@Html.ActionLink("Listar Cursos", "Index", "Cursos")</li>
                                <li>@Html.ActionLink("Listar Tipo Curso", "Index", "TipoCurso")</li>
                                <li>@Html.ActionLink("Listar Áreas", "Index", "Areas")</li>
                                <li>@Html.ActionLink("Listar Escolas", "Index", "Escolas")</li>
                              
                            </ul>
                        </li>
                    }

                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color:#FFFFFF">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inspiring IPTomar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/Apoio.js")
    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
  

</body>
</html>