@model IEnumerable<InspiringIPT.Models.TipoCurso>

@{
    ViewBag.Title = "Lista";
}

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Editar Tipo Curso", "Edit", new { id=item.TipoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TipoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.TipoID })
        </td>
    </tr>
}

</table>
