@model InspiringIPT.Models.Escola

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Escola</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEscola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEscola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglaEscola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglaEscola)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EscolaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
