@model IEnumerable<InspiringIPT.Models.Cursos>
<br />
<div class="row">
    <div class="col-sm-14" style="background-color:lavenderblush; text-align:center;">
        <h2 class="page-header">@ViewBag.Title <small> Os nossos Cursos <i class="glyphicon glyphicon-education"></i></small></h2>
    </div>
    <div class="col-sm-14">
        <table class="table table-bordered">
            <tr class="info">
                <th>
                    @Html.DisplayNameFor(model => model.NomeCurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SiglaCurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Areas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoCurso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Escola)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCurso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SiglaCurso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Areas.NomeArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoCurso.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Escola.NomeEscola)
                        </td>
            
                    @*apenas utilizadores do tipo "Gestores", podem atualizar os dados na BD*@
                    @if (User.IsInRole("Gestores"))
                    {
                        <td>
                            @Html.ActionLink("Atualizar Curso", "Edit", new { id = item.CursoID }, new { @class = "btn btn-danger" })
                        </td>
                    }
                </tr>
            }
        </table>

        @*apenas utilizadores do tipo "Gestores", podem adicionar um novo curso a BD*@
        @if (User.IsInRole("Gestores"))
        {
            <div class="row">
                <div class="col-sm-4">
                    @Html.ActionLink("Adicionar novo Curso", "Create","", new { @class = "btn btn-success" })
                </div>
            </div>
        }

    </div>
</div>


