@model IEnumerable<InspiringIPT.Models.Areas>

<br />
<div class="col-sm-14" style="background-color:lavenderblush; text-align:center">
    <h2 class="page-header">@ViewBag.Title <small>Áreas de Interesse <i class="glyphicon glyphicon-education"></i></small></h2>
</div>
<table class="table table-bordered">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.NomeArea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeArea)
        </td>
        <td>
            @Html.ActionLink("Editar Área", "Edit", new { id = item.AreaID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detalhes de Área", "Details", new { id = item.AreaID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar Área", "Delete", new { id=item.AreaID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Adicionar nova Área", "Create", "", new { @class = "btn btn-success" })
    </div>
</div>

