@model InspiringIPT.Models.PotencialAluno

<div class="row">
    <br /><br />
    <div class="col-sm-14" style="background-color:antiquewhite;text-align:center;">
        <h2 class="page-header">@ViewBag.Title <small> Mais informações sobre o Potencial Aluno <i class="glyphicon glyphicon-user"></i></small></h2>
    </div>
    <div class="col-sm-14" style="background-color:lavender">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeCompleto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Concelho)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Concelho)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ListaCursos)
            </dt>

            <dd>
                @* lista dos cursos *@
                @foreach (var curso in ViewBag.Cursos)
                {     @* mostra apenas o nome curso selecionado *@
                    <p> @curso.NomeCurso</p>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ListaTipoCurso)
            </dt>
            <dd>
                @* lista dos tipos de cursos *@
                @foreach (var tipocurso in ViewBag.TipoCurso)
                {   @* mostra apenas o tipo de curso selecionado *@
                    <p> @tipocurso.Tipo</p>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ListaAreas)
            </dt>

            <dd>
                @* lista das áreas *@
                @foreach (var area in ViewBag.Areas)
                {     @* mostra apenas a área selecionada *@
                    <p> @area.NomeArea</p>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataInscricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CodigoIdentificacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoIdentificacao)
            </dd>
        </dl>

        <div class="btn btn-secondary text-danger" style="height:40px">
            <p>
                @Html.ActionLink("Voltar a Lista dos Alunos", "Index", "", new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>


