@model IEnumerable<InspiringIPT.Models.PotencialAluno>


<div class="row">
    <br />
    <div class="col-sm-14" style="background-color:lavenderblush;">
        <h2 class="page-header">@ViewBag.Title <small> Os Potenciais Alunos <i class="glyphicon glyphicon-education"></i></small></h2>
    </div>
    <table class="table" style="position:center;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concelho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabAcademicas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaCursos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaTipoCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaAreas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concelho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HabAcademicas)
                </td>
                <td>
                    @foreach (var cursos in item.ListaCursos)
                    {
                        @Html.DisplayFor(modelItem => cursos.NomeCurso)
                        <br />
                    }
                </td>
                <td>
                    @foreach (var tipocurso in item.ListaTipoCurso)
                    {
                        @Html.DisplayFor(modelItem => tipocurso.Tipo)
                        <br />
                    }
                </td>
                <td>
                    @foreach (var areas in item.ListaAreas)
                    {
                        @Html.DisplayFor(modelItem => areas.NomeArea)
                        <br />
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DataInscricao)
                </td>
                <td>
                    @Html.ActionLink("Atualizar Dados", "Edit", new { id = item.AlunoID }, new { @class = "btn btn-danger", @style = "height:30px;width:120px" })
                </td>
            </tr>
        }
    </table>
</div>
