@model IEnumerable<InspiringIPT.Models.ListaColaboradores>


<div class="row">
    <div class="col-sm-14" style="background-color:lavenderblush;">
        <h2 class="page-header">@ViewBag.Title <small> Estudantes Colaboradores <i class="glyphicon glyphicon-user"></i></small></h2>
    </div>
    <div class="col-sm-14" style="background-color:lavender;">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Localidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NIF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contacto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Apelido)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Localidade)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.NIF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contacto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            @Html.ActionLink("Editar dados", "Edit", new { id = item.ColaboradorID }, new { @class = "btn btn-danger"})
                            @*@Html.ActionLink("Detalhes", "Details", new { id = item.ColaboradorID }, new { @class = "btn btn-info", @style = "height:30px;width:80px" })*@
                            @Html.ActionLink("Adicionar novo", "Create", "", new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>